.nav-bar {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  background-color: $brand-dark-green;
  align-items: center;
  padding: 8px 30px;
  .logo-block {
    max-width: 250px;
    display: block;
    img {
      width: 100%;
    }
  }
  nav {
    a {
      font-size: 1.125rem;
      color: $brand-lime-green;
      text-decoration: none;
      transition: all .3s;
      &:hover {
        color: darken($brand-lime-green, 25%);
        transition: all .3s;
      }
    }
  }
  @media screen and (max-width: $phone) {
    flex-direction: column;
  }
}
