html {
  box-sizing: border-box;
  // scroll-behavior: smooth;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@import './variable';

body, h1, h2, h3, h4, h5, h6, p, a {
  color: $brand-black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Spectral', serif;
}
p, a, span, li, button {
  font-family: 'Karla', sans-serif;
}

@import '../Components/Nav/Nav.scss';
@import '../Components/TitleSection/TitleSection.scss';
@import '../Components/TutorialsList/TutorialsList.scss';
@import '../Components/Tutorial/Tutorial.scss';
@import '../Components/Footer/Footer.scss';
@import '../Components/NotFoundPage/NotFoundPage.scss';


